build/
bin/
target/
libs/
tmp/
node_modules/
jaxws/jaxws-client/src/main/java
jaxws/jaxws-endpoint/src/main/webapp/WEB-INF/wsdl/

*.jar
*.war
*.ear
*.db
rebel.xml

Desktop.ini

nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
 
*.iml
*.ipr
*.iws
.idea/
atlassian-ide-plugin.xml