.form-group {
    margin-top: 10px;
}

.error-email, .error-password, .error-account-credentials {
    color: #c80b0b;
    font-size: 12px;
    align-items: start;
    padding-top: 10px;
}

.login-container, .btn-login, .label-sign-in, .registration-here {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 10px;
}

.error-email, .error-password {
    display: flex;
    justify-content: left;
}

.registration-here-link {
    margin-left: 10px;
}

.label-sign-in {
    margin-top: 100px;
}