.error-firstName, .error-lastname, .error-email, .error-dob, .error-password, .error-password-repeat, .error-account-credentials {
    color: #c80b0b;
    font-size: 12px;
    align-items: start;
    padding-top: 10px;
}

.registration, .label-sign-up, .login-here, .btn-signup {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 10px;
}

.container {
    width: 300px;
}

.error-email, .error-password, .error-firstName, .error-lastname, .error-dob, .error-password-repeat {
    display: flex;
    justify-content: left;
}

.login-here-link {
    margin-left: 10px;
}

.label-sign-up {
    margin-top: 20px;
}
.btn-signup {
    margin-top: 10px;
}