.form-registration, .form-login {
    width: 300px;
    align-content: center;
}

.label-sign-up, .label-sign-in {
    align-content: center;
}

.container {
    align-items: center;
}

body {
    background: #ededed;
}

.container-header {
    margin-left: 100px;
}
.btn-login, .btn-signup {
    margin: 10px;
}
