.form-registration, .form-login, .form-edit {
    width: 300px;
    align-content: center;
}

.label-sign-up, .label-sign-in, .label-edit {
    align-content: center;
}

.container {
    align-items: center;
}

body {
    background: #ededed;
}

.container-header {
    margin-left: 100px;
}
.btn-login, .btn-signup{
    margin: 10px;
}
.container {
    align-items: center;
    align-self: center;
}
.btn-delete{
    margin-left: 10px;
}

