.error-firstName, .error-lastname, .error-password, .error-password-repeat {
    color: #c80b0b;
    font-size: 12px;
    align-items: start;
    padding-top: 10px;
}

.container {
    width: 300px;
    display: flex;
    justify-content: center;
    height: 100%;
}
.btn-edit {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.label-edit {
    margin-top: 100px;
}

.error-password, .error-firstName, .error-lastname, .error-password-repeat {
    display: flex;
    justify-content: left;
}